@tailwind base;
@tailwind components;
@tailwind utilities;

/* h1,h2,h3,h4,h5,h6 {
    @apply font-mono;
  } */
  
  h1 {
    @apply my-4 text-3xl sm:text-4xl md:text-5xl sm:my-6 md:my-8;
  }
  
  h2 {
    @apply my-3 text-3xl sm:text-4xl md:text-5xl sm:my-5 md:my-6;
  }
  
  h3 {
    @apply my-0 text-2xl sm:text-3xl md:text-4xl sm:my-1 md:my-2;
  }
  
  h4 {
    @apply my-1 text-xl sm:text-2xl md:text-3xl sm:my-3 md:my-4;
  }
  
  h5 {
    @apply my-1 text-lg sm:text-xl md:text-2xl sm:my-2 md:my-3;
  }
  
  h6 {
    @apply my-1 text-base sm:text-lg md:text-xl sm:my-1 md:my-2;
  }