@import "@fontsource/vt323";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "VT323", monospace;
  font-weight: 400;
  text-shadow: rgb(39, 168, 115, 0.9) 1px 0 10px;
  animation: textShadow 0.3s infinite;
}

body::after {
  @apply pointer-events-none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0.15) 1px,
    transparent 1px,
    transparent 2px
  );
}

::selection {
  @apply text-terminal-black bg-terminal-yellow;
}

.crt-frame {
  pointer-events: none;
  overflow: hidden;
  z-index: 9000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ansi {
  text-shadow: none;
  font-size: 6px;
}

h1 {
  @apply mt-6 text-3xl;
}

h2 {
  @apply my-3 text-3xl;
}

h3 {
  @apply my-0 text-2xl;
}

h4 {
  @apply my-1 text-xl;
}

h5 {
  @apply my-1 text-lg;
}

h6 {
  @apply my-1 text-base;
}

/* Responsive styles */
@media (min-width: 640px) {
  h1 {
    @apply mt-6 text-4xl;
  }

  h2 {
    @apply my-5 text-4xl;
  }

  h3 {
    @apply my-1 text-3xl;
  }

  h4 {
    @apply my-3 text-2xl;
  }

  h5 {
    @apply my-2 text-xl;
  }

  h6 {
    @apply my-1 text-lg;
  }
}

@media (min-width: 768px) {
  h1 {
    @apply mt-8 text-5xl;
  }

  h2 {
    @apply my-6 text-5xl;
  }

  h3 {
    @apply my-2 text-4xl;
  }

  h4 {
    @apply my-4 text-3xl;
  }

  h5 {
    @apply my-3 text-2xl;
  }

  h6 {
    @apply my-2 text-xl;
  }
}

@layer components {
  .loading-ellipsis::after {
    content  : "";
    animation: ellipsis 1s infinite;
  }
}

@keyframes ellipsis {
  0% {
    content: "";
  }

  25% {
    content: ".";
  }

  50% {
    content: "..";
  }

  75% {
    content: "...";
  }

  100% {
    content: "";
  }
}

/* Slider CSS */
.slider {
  -webkit-appearance: none;
  width             : 100%;
  height            : 10px;
  border-radius     : 5px;
  background        : #d3d3d3;
  outline           : none;
  opacity           : 0.7;
  -webkit-transition: .2s;
  transition        : opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance        : none;
  width             : 20px;
  height            : 20px;
  border-radius     : 50%;
  background        : greenyellow;
  cursor            : pointer;
}

.slider::-moz-range-thumb {
  width        : 20px;
  height       : 20px;
  border-radius: 50%;
  background   : greenyellow;
  cursor       : pointer;
}
