name: Build Scarb project

on:
  push:
    branches:
      - main
  pull_request:

env:
  SCARB_VERSION: 2.6.4

jobs:
  build:
    name: Build Contracts
    runs-on: ubuntu-latest
    strategy:
      matrix:
        contract: [
            adventurer,
            game,
            loot,
            market,
            obstacles,
            combat,
          ]
    steps:
      - uses: actions/checkout@v3

      - name: Setup Scarb
        run: curl --proto '=https' --tlsv1.2 -sSf https://docs.swmansion.com/scarb/install.sh | bash -s -- -v ${{ env.SCARB_VERSION }}

      - name: Scarb build ${{ matrix.contract }}
        run: cd contracts/${{ matrix.contract }} && scarb build && scarb cairo-test
